## Kickstarter Projects

In [18]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import log_loss, accuracy_score, confusion_matrix

### 1. データの読み込み

In [19]:
df_project = pd.read_csv("../../../ks-projects-201801.csv")[['state','currency','main_category','category','deadline','goal','launched','country']]
display(df_project.head())

,state,currency,main_category,category,deadline,goal,launched,country
0,failed,GBP,Publishing,Poetry,2015-10-09,1000.0,2015-08-11 12:12:28,GB
1,failed,USD,Film & Video,Narrative Film,2017-11-01,30000.0,2017-09-02 04:43:57,US
2,failed,USD,Film & Video,Narrative Film,2013-02-26,45000.0,2013-01-12 00:20:50,US
3,failed,USD,Music,Music,2012-04-16,5000.0,2012-03-17 03:24:11,US
4,canceled,USD,Film & Video,Film & Video,2015-08-29,19500.0,2015-07-04 08:35:03,US

### 2.事前処理

プロジェクトの期間を日数に変換する

In [20]:
df_project['deadline'] = pd.to_datetime(df_project['deadline'])
df_project['launched'] = pd.to_datetime(df_project['launched'])
df_project['running_time'] = (df_project['deadline'] - df_project['launched']).dt.days

state列からsuccessful列を作成する（１：True、0：False）

In [21]:
df_project['successful'] = pd.get_dummies(df_project['state'])['successful']

種類的な列を数字化する

In [22]:
category_index, category_labels = pd.factorize(df_project['category'])
df_project['category'] = category_index
main_category_index, main_category_labels = pd.factorize(df_project['main_category'])
df_project['main_category'] = main_category_index
country_index, country_labels = pd.factorize(df_project['country'])
df_project['country'] = country_index
currency_index, currency_labels = pd.factorize(df_project['currency'])
df_project['currency'] = currency_index

要らない列を廃棄する

In [23]:
df_project.drop(['state','deadline','launched'],inplace=True, axis=1)
display(df_project.head())

,currency,main_category,category,goal,country,running_time,successful
0,0,0,0,1000.0,0,58,0
1,1,1,1,30000.0,1,59,0
2,1,1,1,45000.0,1,44,0
3,1,2,2,5000.0,1,29,0
4,1,1,3,19500.0,1,55,0

### 3. [演習] Scikit-learnを用いてロジスティック回帰を実装する

In [24]:
y = df_project["successful"].values
X = df_project.drop('successful', axis=1).values
clf = SGDClassifier(loss='log', penalty='none', max_iter=10000, fit_intercept=True, random_state=1234, tol=1e-3)
clf.fit(X, y)

# 重みを取得して表示
w0 = clf.intercept_[0]
w1 = clf.coef_[0, 0]
w2 = clf.coef_[0, 1]
w3 = clf.coef_[0, 2]
w4 = clf.coef_[0, 3]
w5 = clf.coef_[0, 4]
w6 = clf.coef_[0, 5]
print('w0 = {:.3f}, w1 = {:.3f}, w2 = {:.3f}, w3 = {:.3f}, w4 = {:.3f}, w5 = {:.3f}, w6 = {:.3f}'.format(w0, w1, w2, w3, w4, w5, w6))

w0 = 4325.245, w1 = 5267.812, w2 = 13777.809, w3 = 5550.586, w4 = -441.367, w5 = 3873.963, w6 = 78796.771

In [25]:
# ラベルを予測
y_est = clf.predict(X)

# 対数尤度を表示
print('対数尤度 = {:.3f}'.format(- log_loss(y, y_est)))

# 正答率を表示
print('正答率 = {:.3f}%'.format(100 * accuracy_score(y, y_est)))

対数尤度 = -14.911
正答率 = 56.829%

In [26]:
# 予測値と正解のクロス集計
conf_mat = pd.DataFrame(confusion_matrix(y, y_est), 
                        index=['正解 = リノベーションなし', '正解 = リノベーション済み'], 
                        columns=['予測 = リノベーションなし', '予測 = リノベーション済み'])
conf_mat

                予測 = リノベーションなし  予測 = リノベーション済み
正解 = リノベーションなし          129674          115031
正解 = リノベーション済み           48439           85517